/* DEBUG */
.box{
    width: 100%;
    min-height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}

.mini-box{
    width: 100%;
    min-height: 100px;
    background-color: orange;
    border: 1px solid black;
}



/********** REGOLE GENERALI ***********/

body{
    font-family: "Roboto", sans-serif;
}

.container-flex{
    display: flex;
}


/* REGOLE HEADER */

.navbar{
    height: 80px;
}

header .btn-warning{
    background-color: #f8f9fa;
    border: none;
}

header .btn:hover{
    color: #ffc106;
    background-color: #f8f9fa;
}

.fa-bell{
    color: #ffc106;
}

.icon-nav .fa-solid{
    margin-left: 10px;
}


/* REGOLE SIDEBAR */

.sidebar{
    padding: 10px 0;
    width: calc(100% / 12);
    height: calc(100vh - 80px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link {
    color: #fff;
}

.nav-link:hover{
    background-color: lightgray;
    color: #000;
}

/* REGOLE MAIN */

main{
    width: calc(100% - (100% / 12));
    height: calc(100vh - 80px);
    overflow: scroll;
    overflow-x: hidden;
}

/* REGOLE SECTION STUDENTI ONLINE */

#boolean-plan-section{
    color: #fff;
}

.boolean-plan{
    background-color: #1b72e8;
    width: 100%;
}

.boolean-plan h1{
    display: inline;
    font-size: 30px;
}

.boolean-plan a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background-color: #165bba;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 10px;
}

/* REGOLE GRAFICO */

.graphic-list{
    list-style-type: none;
    padding: 0;
}

.graphic-list li{
    border-bottom: 1px solid lightgray;
}



